.custom-featured-works-area {
    position: relative; /* This will make the gallery position itself relative to this container */
}

.cust-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the columns in the row */
    padding: 0 4px;
    margin: 0 auto; /* Center the row itself if needed */
}

.cust-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    box-sizing: border-box; /* Includes padding in the width calculation */
}

/* Adjust for smaller screens */
@media screen and (max-width: 800px) {
    .cust-column {
        flex: 50%; /* Show two images per row */
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .cust-column {
        flex: 100%; /* Stack images vertically on very small devices */
        max-width: 100%;
    }
}

/* Image styling */
.cust-column img {
    vertical-align: middle;
    width: 100%;
    margin-top: 8px;
    transition: 0.3s;
    cursor: pointer;
    padding: 5px; /* Adds padding around images */
}


.pswp__img {
    transition: none  /* Disable transitions that might be enlarging the image */
      /* Disable any transforms applied on hover */
}

